body {
	background-color: #111;
}

canvas {
	z-index: 1;
}

#leaderboard {
	z-index: 2;
	background-color: white;
	color: black;
	position: absolute;
	right: 5px;
	width: 180px;
	height: 240px;
	font-family: "Dosis", Arial;
	text-align: center;
	border-radius: 3px;
	opacity: 0.8;
}

.leaderboard-entry {
	display: block;
}

h3 {
	display: inline;
	font-size: 25px;
	margin-bottom: 15px;
}

.user-entry {
	float: left;
	margin-left: 10px;
}

.user-br {
	float: right;
	margin-right: 10px;
}

#nom-cooldown {
	z-index: 2;
	background-color: white;
	color: black;
	position: absolute;
	top: 260px;
	right: 5px;
	width: 165px;
	height: 30px;
	font-family: "Dosis", Arial;
	padding-left: 15px;
	border-radius: 3px;
	opacity: 0.8;
	text-align: center;
}

#nom-image {
	padding-top: 5px;
	vertical-align: center;
	float: left;
}

#cooldown-timer {
	margin-left: 15px;
	margin-top: 5px;
	display: block;
	width: 70px;
	float: left;
	vertical-align: center;
}

#dpad-controls {
	display: none;
	position: fixed;
	bottom: 5px;
	left: 5px;
	width: 225px;
	height: 225px;
	z-index: 2;
}

.btnmid {
	display: block;
	margin-left: 75px;
}

.btnright {
	float: right;
}

#nom-btn-mobile {
	position: fixed;
	right: 25px;
	bottom: 100px;
}

#wsinfo {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 40px);
	font-family: "Consolas";
	color: white;
	background-color: black;
	padding: 10px 20px 10px 20px;
	z-index: 3;
}
