#tip {
    margin: 0 0 0 10px;
    width: 50px;
}

#loading-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#tip {
    float: left;
    width: 100%;
}

#players {
    width: 100%;
    float: left;
}