html {
    background-image: url("../assets/brickwall.png");
}
body {
    margin: 25px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px;
}
#stats {
    font-family: "Chakra Petch", Arial;
    font-size: 14px;
    display: inline;
    float: left;
}
.daily-bonus {
    width: 140px;
    margin: 0px !important;
}
.daily-bonus:hover {
    animation: 0.4s fade-btn-15-width-150 forwards;
}
#news {
    width: 250px;
    padding-left: 15px;
    padding-bottom: 3px;
    font-family: "Chakra Petch", Arial;
    overflow-y: scroll;
    position: fixed;
    height: 50%;
    right: 5px;
}
.blurple-scrollbar::-webkit-scrollbar {
    width: 12px;
}
.blurple-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}
.blurple-scrollbar::-webkit-scrollbar-thumb {
    background-color: #7289DA;
    border-radius: 3px;
    width: 3px;
}
.news-heading {
    font-size: 15px;
}
.news-content {
    font-size: 13px;
}
.div-heading {
    text-transform: uppercase;
    color: #7289DA;
    font-family: "Open Sans", Arial;
    text-align: center;
    font-size: 15px;
}
#promotions {
    width: 250px;
    padding-left: 15px;
    padding-bottom: 3px;
    font-family: "Chakra Petch", Arial;
    overflow-y: scroll;
    position: fixed;
    height: 50%;
    right: 5px;
    top: 51%;
}
.user-promotion {
    font-size: 14px;
}
#bloblist {
    clear: both;
    padding-left: 15px;
    padding-bottom: 3px;
    font-family: "Chakra Petch", Arial;
    overflow-x: scroll;
    width: 80%;
    height: 250px;
    display: block;
}
#online-list {
    clear: both;
    padding-left: 15px;
    padding-bottom: 3px;
    font-family: "Chakra Petch", Arial;
    width: 80%;
    height: 250px;
    display: block;
    font-size: 13px;
    overflow-y: scroll;
}
.material-icons {
    font-family: "Material Icons";
    cursor: default;
}
#footer {
    position: relative;
}
#play-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    width: 160px;
}
button {
    padding: 7px 0px 7px 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #7289DA;
    outline: none;
    color: #7289DA;
    font-family: "Chakra Petch", Arial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}
#play-btn:hover {
    animation: 0.4s fade-btn-15-width-180 forwards;
}
.float-left {
    float: left;
}
.margin-1 {
    margin-left: 5px;
}
.fade-red:hover {
    animation: 0.4s fade-red forwards;
}
.fade-grey:hover {
    animation: 0.4s fade-grey forwards;
}
@keyframes fade-red {
    from {
        color: white;
    }
    to {
        color: #c0392b;
    }
}
@keyframes fade-grey {
    from {
        color: white;
    }
    to {
        color: #bdc3c7;
    }
}
@keyframes fade-btn-15-width-180 {
    from {
        font-size: 13px;
    }
    to {
        font-size: 15px;
        width: 180px;
    }
}
@keyframes fade-btn-15-width-150 {
    from {
        font-size: 13px;
    }
    to {
        font-size: 15px;
        width: 150px;
    }
}
@keyframes fade-btn-15-width-100 {
    from {
        font-size: 13px;
    }
    to {
        font-size: 15px;
        width: 100px;
    }
}
.bloblist-entry {
    display: inline;
    float: left;
    margin-left: 25px;
}
.pick-blob {
    width: 80px;
}
.pick-blob:hover {
    animation: 0.4s fade-btn-15-width-100 forwards;
}
.success-alert {
    border-bottom: 1px solid #2ecc71;
    color: #2ecc71;
}
#success-notification {
    position: absolute;
    left: 0;
    right: 0;
    padding: 15px;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}
#error-notification {
    position: absolute;
    left: 0;
    right: 0;
    padding: 15px;
    border: 2px solid #e74c3c;
    color: #e74c3c;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}
.online-user {
    margin-left: 5px;
    font-size: 15px;
    vertical-align: middle;
}