
html, body {
    height: 100%;
    margin: 0px;
}
body {
    font-size: 19px;
}
#content {
    margin-left: 10px;
    margin-top: 10px;
}
#right {
    float: right;
    width: 20%;
    display: block;
    height: 100%;
    text-align: center;
}
#left {
    float: left;
    width: 80%;
    display: block;
}
.bloblist-entry {
    display: inline;
    width: 200px !important;
    margin-left: 10px;
    float: left;
}
.online-user {
    display: block;
}
#promotions {
    height: 70%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
footer {
    font-size: 14px;
}
#news {
    display: block;
    float: left;
}
.news-entry {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    float: left;
    padding: 5px 20px 5px 20px;
    width: 200px;
    height: 250px;
    margin-left: 15px;
    overflow-y: scroll;
}
.news-content {
    font-size: 14px;
}
#blobs {
    display: block;
    width: 80%;
    float: left;
}
.blurple-scrollbar::-webkit-scrollbar {
    width: 12px;
}
.blurple-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}
.blurple-scrollbar::-webkit-scrollbar-thumb {
    background-color: #42a5f5;
    border-radius: 3px;
    width: 3px;
}