canvas {
	border: 1px solid white;
}

body {
	background-color: #2C2F33;
	color: #ddd;
	font-family: "Open Sans";
}

#auth {
	background-color: #36393f;
	margin: 15% 35% 0 35%;
	border-radius: 2px;
	text-align: center;
	padding: 0 0 12.5px 0;
	overflow: hidden;
}

input[placeholder=Username],
input[placeholder=Password] {
	margin-top: 20px;
}

input {
	outline: none !important;
	width: 125px;
	border: 0px solid white;
	border-bottom: 1.4px solid #2980b9;
	background: transparent;
	color: #7f8c8d;
	font-size: 15px;
	height: 20px;
}

input[type=submit] {
	background-color: #2980b9;
	margin-top: 25px;
	border: none;
	width: 300px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2px;
	height: 40px;
}

.reg-label {
	margin-top: 7px;
	font-size: 14px;
	float: left;
	margin-left: 40px;
	color: #7f8c8d;
}

a {
	color: #3498db;
	text-decoration: none;
}

a:visited {
	color: #3498db;
	text-decoration: none;
}

.heading {
	text-align: center;
}

#hr {
	margin-top: 15px;
	margin-bottom: 15px;
	text-decoration: underline;
	width: 100%;
	height: 3px;
	background-color: rgb(83, 83, 83);
}

.warning {
	border: 1px solid #f0932b;
	color: #f0932b;
	padding: 2px 5px 2px 5px;
	margin-bottom: 15px;
}

.red-btn {
	background: transparent;
	border: 1px solid #eb4d4b;
	color: #eb4d4b;
	padding: 5px 15px 5px 15px;
	outline: none;
}

.red-btn:hover {
	border: 1px solid #ff7979;
	color: #ff7979;
}

.change-pw-btn {
	background: transparent;
	border: 1px solid #686de0;
	color: #686de0;
	padding: 5px 15px 5px 15px;
	outline: none;
}

.change-pw-btn:hover {
	border: 1px solid #878bff;
	color: #878bff;
}

.online-count {
	margin-top: 7px;
	font-size: 14px;
	float: right;
	margin-right: 40px;
	color: #7f8c8d;
}

#wsinfo {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 40px);
	font-family: "Consolas";
	color: white;
	background-color: black;
	padding: 10px 20px 10px 20px;
	z-index: 3;
}

/* Cute stuff */

#peek {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-image: url("../assets/blobpeek.png");
}

#peek:hover+.peek-label {
	display: block;
}

.peek-label {
	display: none;
	position: fixed;
	bottom: 52px;
	transform: rotate(320deg);
	font-size: 11px;
	right: 0;
}

/* Notifications */

#success-notif {
	background-color: #2ecc71;
	padding: 15px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
}

#failure-notif {
	background-color: #c0392b;
	padding: 15px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
}

/* Color classes */

.green {
	color: #2ecc71 !important;
}

.blue {
	color: #2980b9 !important;
}

canvas {
	border: 1px solid #2980b9;
	margin-top: 15px;
	overflow: hidden;
}

/* Loading */
#loading-ws {
	margin-top: 5%;
	font-family: "Ubuntu";
	font-size: 32px;
}

iframe {
	width: 100%;
	height: 500px;
	display: block;
	overflow: hidden;
	border: none;
}
